<a href="https://colab.research.google.com/github/tpraveenkgh/CCE_Assignment/blob/main/Copy_of_Pandas_assignment_Praveen_Kumar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Exploration Exercises

#### Task 1.1 - The goal of this exercise is to find the average age of celebrities who died February–July 2016

<div>
  <a href="https://colab.research.google.com/github/emharsha1812/CCE_Assignment/blob/main/Assignments/Pandas.ipynb" target="_parent">
    <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
  </a>
</div>

1. Create a data frame from the file celebrity_deaths_2016.csv. For this exercise, we’ll use only two columns:
–dateofdeath
– age
2. Create a new month column containing the month from the dateofdeath
column.
3. Make the month column the index of the data frame.
4. Sort the data frame by the index.
5. Clean all nonintegers from the age column.
6. Turn the age column into an integer value.
7. Find the average age of celebrities who died during that period

In [4]:
import pandas as pd
import numpy as np

# You are NOT required to change the code here
# titanic_df=pd.read_csv('celebrity_deaths_2016.csv')

titanic_df_url='https://raw.githubusercontent.com/emharsha1812/CCE_Assignment/refs/heads/main/Assignments/Assignment1/dataset/celebrity_deaths_2016.csv'
titanic_df = pd.read_csv(titanic_df_url)

def calculate_average_age(df=titanic_df):
    #TODO- Write your code here
    '''Arguments -
    titanic_df = The pandas dataframe that we loaded

    Returns
    int : average_age
    '''
    df['age'] = pd.to_numeric(df['age'], errors='coerce')

    # Calculate the average age
    average_age = df['age'].mean()

    return average_age
    '''
    average_age=None #Placeholder
    return average_age
    '''

    get_average_age_ans=calculate_average_age(titanic_df)

### Task 1.2 - The goal of this exercise is to group the data according to the below conditions
1. Load the CSV file nyc_taxi_2019-01.csv into a data frame using only the columns passenger_count, trip_distance, and total_amount.
2. Using a descending sort, find the average cost of the 20 longest (in distance) taxi rides in January 2019.
3. Using an ascending sort, find the average cost of the 20 longest (in distance) taxi rides in January 2019. Are the results any different?
4. Sort by ascending passenger count and descending trip distance. (So, start with the longest trip with 0 passengers and end with the shortest trip with 9 passengers.) What is the average price paid for the top 50 rides?

In [24]:

import pandas as pd
import numpy as np
# filename = 'nyc_taxidataset.csv'
filename='https://raw.githubusercontent.com/emharsha1812/CCE_Assignment/refs/heads/main/Assignments/Assignment1/dataset/nyc_taxidataset.csv'
taxi_df = pd.read_csv(filename,usecols=['passenger_count','trip_distance','total_amount','tpep_pickup_datetime'],
dtype={'total_amount':np.float128})


# Task 1.2.2 & Task 1.2.3
def get_average_cost_descending_sort(df):
    """Arguments- df:Dataframe

    Returns
    tuple of float - (avg_desc,avg_asc) : (rounded of two integers)
    """
    january_data = taxi_df[(taxi_df['tpep_pickup_datetime'] >= '2019-01-01') & (taxi_df['tpep_pickup_datetime'] < '2019-02-01')]
    sorted_data_desc = january_data.sort_values(by='trip_distance', ascending=False)
    sorted_data_asc = january_data.sort_values(by='trip_distance', ascending=True)

    # Select the top 20 longest rides
    top_20_longest_rides = sorted_data_desc.head(20)
    top_20_shortest_rides = sorted_data_asc.head(20)

    # Calculate the average cost of the top 20 longest rides
    avg_desc = top_20_longest_rides['total_amount'].mean()
    avg_asc = top_20_shortest_rides['total_amount'].mean()
    return (avg_desc,avg_asc)

def get_price_top50_rides(df):
    """Arguments df:Dataframe
    Returns
    float - rounded to two integers
    """
    sorted_df = taxi_df.sort_values(by=['passenger_count', 'trip_distance'], ascending=[True, False])


# Print the sorted DataFrame (or work with the sorted data)
    top_50_rides = sorted_df.head(50)

    avg_price_rides=top_50_rides['total_amount'].mean()

    #Write your code below
    return avg_price_rides


get_average_cost_ans=get_average_cost_descending_sort(taxi_df)
print(get_average_cost_ans)
get_avg_price_top50_ans=get_price_top50_rides(taxi_df)
print(get_avg_price_top50_ans)

(86.90450000000000088, 5.9054999999999998384)
22.006400000000000485

#### Task 1.3 - The goal of this exercise is to group the data according to the below conditions
1. Load taxi data from January 2019 into a data frame using only the columns passenger_count, trip_distance, and total_amount.
2. For each number of passengers, find the mean cost of a taxi ride. Sort this result from lowest (i.e., cheapest) to highest (i.e., most expensive). Return the topmost value (use .head(1))
Sort the results again by increasing the number of passengers. Return the topmost value (use .head(1))
3. Create a new column, trip_distance_group, in which the values are short (< 2
miles), medium (>= 2 miles and <= 10 miles), and long (> 10 miles). What is the
average number of passengers per trip length category? Sort this result from
highest (most passengers) to lowest (fewest passengers).

In [43]:
import pandas as pd
import numpy as np

filename='https://raw.githubusercontent.com/emharsha1812/CCE_Assignment/refs/heads/main/Assignments/Assignment1/dataset/nyc_taxidataset.csv'
taxi_df = pd.read_csv(filename,usecols=['passenger_count','trip_distance','total_amount'])

def get_mean_cost(df):
    """Parameters
    df - Dataframe

    Returns
    mean_cost : int"""

    mean_cost = taxi_df.groupby('passenger_count')['total_amount'].mean().reset_index()

    #Write your code below


    #mean_cost=None
    return mean_cost


def get_lowest_average_fare(df):
    """
    Find the passenger count with the lowest average total fare.

    Args:
    df (pandas.DataFrame): A DataFrame containing 'passenger_count' and 'total_amount' columns.

    Returns:
    pandas.Series: A Series with one row, containing the passenger count with the lowest average fare.

    """
    cheapest_ride = df.sort_values(by='total_amount', ascending=True).head(1)
    sorted_by_passengers = df.sort_values(by='passenger_count', ascending=True).head(1)
    #print (cheapest_ride)
    #print (sorted_by_passengers)
    return cheapest_ride,sorted_by_passengers
    #pass


def get_trip_length_category(df):
    """
    Find the average number of passengers per trip length category

    Args:
    df (pandas.DataFrame): A DataFrame containing 'passenger_count' and 'total_amount' columns.

    Returns:
    pandas.Series: A Series with three rows. displaying values of trip distance (short, medium, long).
    """

    taxi_df['trip_distance_group'] = pd.cut(
    taxi_df['trip_distance'],
    bins=[-float('inf'), 2, 10, float('inf')],
    labels=['short', 'medium', 'long']
)
    average_passengers_per_category = taxi_df.groupby('trip_distance_group')['passenger_count'].mean().reset_index()
    average_passengers_per_category = average_passengers_per_category.sort_values(by='passenger_count', ascending=False)
    return average_passengers_per_category
    #pass

mean_cost_ans=get_mean_cost(taxi_df)
#print(mean_cost_ans)
lowest_average_fare_ans=get_lowest_average_fare(mean_cost_ans)
#print(lowest_average_fare_ans)
trip_length_category_ans=get_trip_length_category(taxi_df)
print(trip_length_category_ans)

  trip_distance_group  passenger_count
1              medium         1.791937
0               short         1.747479
2                long         1.735562

<ipython-input-43-6f2a814c2aad>:58: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_passengers_per_category = taxi_df.groupby('trip_distance_group')['passenger_count'].mean().reset_index()